In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [4]:
url = 'https://finance.naver.com/item/sise_day.naver?code=005930&page=11'

In [5]:
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [7]:
pd.read_html(res.text)

ValueError: No tables found

In [7]:
driver = webdriver.Chrome()
driver.get(url)
time.sleep(0.5)
html = driver.page_source

df = pd.read_html(html)[0]
df.dropna(inplace=True)
df

# driver.close()

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.09.14  76600.0   300.0  77100.0  77700.0  76600.0  18167057.0
2   2021.09.13  76300.0  1000.0  75200.0  76300.0  75100.0  11397775.0
3   2021.09.10  75300.0     0.0  75300.0  75600.0  74800.0  10103212.0
4   2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0
5   2021.09.08  76300.0   200.0  76000.0  76400.0  75600.0  11798147.0
9   2021.09.07  76100.0  1200.0  77100.0  77100.0  75900.0  13239401.0
10  2021.09.06  77300.0   700.0  76800.0  77600.0  76600.0  12861180.0
11  2021.09.03  76600.0   600.0  76400.0  76700.0  76000.0  12096419.0
12  2021.09.02  76000.0   800.0  76800.0  76800.0  75700.0  15347486.0
13  2021.09.01  76800.0   100.0  76700.0  77100.0  75900.0  16114775.0

In [10]:
df = pd.read_csv('./data/universe_code.csv')
codes = df.종목코드.apply(lambda x: x[1:]).values
codes

FileNotFoundError: [Errno 2] No such file or directory: './data/universe_code.csv'

In [13]:
import MySQLdb

db = MySQLdb.connect(host='localhost', port=3306, user='root', passwd = '1234')
cursor = db.cursor()

In [15]:
sql = 'show databases;'
pd.read_sql(sql, db)

              Database
0   information_schema
1            budongsan
2            employees
3           finance_db
4            gmarketdb
5                mysql
6   performance_schema
7               sakila
8               shopdb
9                sqldb
10                 sys
11             tabledb
12               world

In [16]:
sql = 'use finance_db;'
cursor.execute(sql)

0

In [17]:
sql = """
create table if not exists stock_table(
code char(6),
date date,
close float,
margin float,
start float,
high float,
low float,
volume float
)
"""

cursor.execute(sql)

0

In [9]:
url = 'https://finance.naver.com/item/sise_day.naver?code={}&page={}'.format(code, num)

NameError: name 'code' is not defined

In [25]:
url = 'https://finance.naver.com/item/sise_day.naver?code={}&page={}'
driver = webdriver.Chrome()

for code in codes[:10]:
    print(code, '==========')
    
    for i in range(1,5):
        driver.get(url.format(code, i))
        time.sleep(0.5)
        html = driver.page_source
        
        df = pd.read_html(html)[0]
        df.dropna(inplace=True)
#         print(df)
        print('---------')
    
        for i in range(len(df)):
            code = code
            date = df.iloc[i][0]
            close = df.iloc[i][1]            
            margin = df.iloc[i][2]
            start = df.iloc[i][3]
            high = df.iloc[i][4]
            low = df.iloc[i][5]
            volume = df.iloc[i][6]
            
            sql = """
            insert into stock_table values('{}','{}','{}','{}','{}','{}','{}','{}');
            """.format(code, date, close, margin, start, high, low, volume)
        
            cursor.execute(sql)
            
driver.close()

000210 ==========
---------
---------
---------
---------
000220 ==========
---------
---------
---------
---------
000240 ==========
---------
---------
---------
---------
000250 ==========
---------
---------
---------
---------
000660 ==========
---------
---------
---------
---------
000990 ==========
---------
---------
---------
---------
001340 ==========
---------
---------
---------
---------
001390 ==========
---------
---------
---------
---------
001500 ==========
---------
---------
---------
---------
001750 ==========
---------
---------
---------
---------

In [27]:
sql = 'select * from stock_table;'

st_price = pd.read_sql(sql, db)
st_price

       code        date    close  margin    start     high      low   volume
0    000210  2022-02-09  60200.0   600.0  59700.0  60400.0  59000.0  11770.0
1    000210  2022-02-08  59600.0  1000.0  59100.0  61000.0  58600.0  83130.0
2    000210  2022-02-07  58600.0  1100.0  57500.0  58800.0  57000.0  53386.0
3    000210  2022-02-04  57500.0   900.0  56900.0  57800.0  56600.0  34228.0
4    000210  2022-02-03  56600.0   700.0  56300.0  57500.0  56300.0  44961.0
..      ...         ...      ...     ...      ...      ...      ...      ...
395  001750  2021-12-16  16000.0    50.0  16050.0  16100.0  15950.0  30691.0
396  001750  2021-12-15  16050.0    50.0  16000.0  16150.0  15900.0  48967.0
397  001750  2021-12-14  16100.0   100.0  15850.0  16100.0  15800.0  37002.0
398  001750  2021-12-13  16000.0   250.0  15700.0  16050.0  15700.0  36308.0
399  001750  2021-12-10  15750.0   150.0  15850.0  15900.0  15700.0  26953.0

[400 rows x 8 columns]

In [31]:
st_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    400 non-null    object
 1   date    400 non-null    object
 2   close   400 non-null    float64
 3   margin  400 non-null    float64
 4   start   400 non-null    float64
 5   high    400 non-null    float64
 6   low     400 non-null    float64
 7   volume  400 non-null    float64
dtypes: float64(6), object(2)
memory usage: 25.1+ KB

In [34]:
st_price.date.iloc[0]

datetime.date(2022, 2, 9)

In [37]:
import datetime

In [38]:
st_price[st_price.date == datetime.date(2022, 2, 9)]

,code,date,close,margin,start,high,low,volume
0,000210,2022-02-09,60200.0,600.0,59700.0,60400.0,59000.0,11770.0
40,000220,2022-02-09,8640.0,1460.0,7220.0,8880.0,7200.0,8560600.0
80,000240,2022-02-09,13650.0,200.0,13650.0,13700.0,13500.0,16558.0
120,000250,2022-02-09,36100.0,300.0,36500.0,36650.0,35550.0,28121.0
160,000660,2022-02-09,127000.0,2000.0,127000.0,128000.0,126500.0,1867600.0
200,000990,2022-02-09,70700.0,600.0,71300.0,71800.0,70600.0,301735.0
240,001340,2022-02-09,4565.0,90.0,4510.0,4590.0,4500.0,112719.0
280,001390,2022-02-09,27100.0,250.0,27000.0,27300.0,26950.0,15479.0
320,001500,2022-02-09,11450.0,100.0,11400.0,11500.0,11350.0,17895.0
360,001750,2022-02-09,15600.0,400.0,15200.0,15700.0,15150.0,13826.0

In [39]:
sql = 'select * from stock_table where code=000220;'

st_price = pd.read_sql(sql, db)
st_price

      code        date   close  margin   start    high     low     volume
0   000220  2022-02-09  8640.0  1460.0  7220.0  8880.0  7200.0  8560600.0
1   000220  2022-02-08  7180.0   100.0  7250.0  7310.0  7110.0   103370.0
2   000220  2022-02-07  7280.0    80.0  7250.0  7340.0  7110.0   141024.0
3   000220  2022-02-04  7200.0    20.0  7120.0  7290.0  7080.0   160387.0
4   000220  2022-02-03  7180.0   360.0  6970.0  7600.0  6930.0   566487.0
5   000220  2022-01-28  6820.0   400.0  6420.0  6900.0  6420.0   374772.0
6   000220  2022-01-27  6420.0   280.0  6750.0  6770.0  6410.0   184288.0
7   000220  2022-01-26  6700.0    70.0  6580.0  6930.0  6580.0   199668.0
8   000220  2022-01-25  6630.0   360.0  7060.0  7090.0  6610.0   302898.0
9   000220  2022-01-24  6990.0   220.0  7230.0  7330.0  6990.0   126579.0
10  000220  2022-01-21  7210.0    10.0  7160.0  7420.0  7130.0   131155.0
11  000220  2022-01-20  7200.0    40.0  7120.0  7260.0  7120.0   112661.0
12  000220  2022-01-19  7160.0   140.0  7270.0  7380.0  7130.0   111781.0
13  000220  2022-01-18  7300.0   200.0  7580.0  7720.0  7270.0   244286.0
14  000220  2022-01-17  7500.0    70.0  7690.0  8090.0  7450.0   691511.0
15  000220  2022-01-14  7570.0    60.0  7510.0  8300.0  7430.0  2150520.0
16  000220  2022-01-13  7510.0   150.0  7450.0  7580.0  7390.0   197071.0
17  000220  2022-01-12  7360.0   180.0  7190.0  7460.0  7190.0   170144.0
18  000220  2022-01-11  7180.0   270.0  7490.0  7530.0  7150.0   214714.0
19  000220  2022-01-10  7450.0    70.0  7530.0  7580.0  7450.0   136629.0
20  000220  2022-01-07  7520.0     0.0  7510.0  7640.0  7500.0   155155.0
21  000220  2022-01-06  7520.0    70.0  7420.0  8120.0  7410.0   861151.0
22  000220  2022-01-05  7590.0   180.0  7800.0  7860.0  7560.0   221349.0
23  000220  2022-01-04  7770.0    50.0  7860.0  7870.0  7710.0   146023.0
24  000220  2022-01-03  7820.0    10.0  7820.0  7850.0  7700.0   145435.0
25  000220  2021-12-30  7810.0    20.0  7890.0  7980.0  7800.0   228236.0
26  000220  2021-12-29  7830.0    50.0  7750.0  7910.0  7700.0   224211.0
27  000220  2021-12-28  7780.0    40.0  7820.0  7990.0  7740.0   271530.0
28  000220  2021-12-27  7820.0   160.0  7640.0  8200.0  7610.0   647291.0
29  000220  2021-12-24  7660.0   240.0  7950.0  8010.0  7630.0   599306.0
30  000220  2021-12-23  7900.0   250.0  8050.0  8400.0  7900.0   651825.0
31  000220  2021-12-22  8150.0   120.0  8060.0  8320.0  7970.0   564629.0
32  000220  2021-12-21  8030.0   630.0  8520.0  8520.0  8020.0   841814.0
33  000220  2021-12-20  8660.0   480.0  9000.0  9190.0  8600.0  1111740.0
34  000220  2021-12-17  9140.0   320.0  8890.0  9400.0  8760.0  5565160.0
35  000220  2021-12-16  8820.0   420.0  8680.0  8870.0  8410.0  2487080.0
36  000220  2021-12-15  8400.0   460.0  7940.0  9140.0  7940.0  9156330.0
37  000220  2021-12-14  7940.0   310.0  8250.0  8350.0  7780.0   644906.0
38  000220  2021-12-13  8250.0     0.0  8370.0  8400.0  8180.0   442616.0
39  000220  2021-12-10  8250.0    10.0  8360.0  8700.0  8220.0  1327800.0